{% if  section.settings.show-announcement-bar %} <section>
  <div class="announcement-bar">
    <div class="announcement-bar-left">
      {% if section.settings.image != blank  %} 
        <img width="40" height="40" loading="lazy" src="{{section.settings.image |  image_url }}" >
        {% else %}
        <img width="40" height="40" loading="lazy" src="{{a.png |  asset_url }}" >
       
       {% endif %}
       {% if section.settings.image2 != blank  %} 
        <img width="40" height="40" loading="lazy" src="{{section.settings.image2 |  image_url }}">
        {% else %}
        <img width="40" height="40" loading="lazy" src="{{b.png |  asset_url }}" >
       
       {% endif %}

    </div>
    <div class="announcement-bar-right">
      
    </div>

  </div>
</section> 
{% endif %}

<style>
  .announcement-bar{
    background: {{section.settings.background }} ;
    color: {{section.settings.textcolor}}
  }

</style>
{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
     
      "type": "checkbox",
      "default": true,
      "id": "show-announcement-bar",
      "label": "Show Announcement Bar"
    },
    {
     
      "type": "image_picker",
    
      "id": "image",
      "label": "Pick-image",
      "info": "png recommended format"
    },
    {
     
      "type": "image_picker",
    
      "id": "image2",
      "label": "Pick-image",
      "info": "png recommended format"
    },
    {
     
      "type": "color",
      "default": "#F4F4F4",
      "id": "background",
      "label": "Background"
    },
    {
     
      "type": "color",
      "default": "#000000",
      "id": "textcolor",
      "label": "Text"
    }
  ],
    "presets": [ ]
}
{% endschema %}
