<footer  class="footer-main">
    {% for block in section.blocks %}
    <div>
        <li> <a href="{{block.settings.url}}">  {{block.settings.text}}</a></li>
        <li> <a href="{{block.settings.url}}">  {{block.settings.text}}</a></li>
        <li> <a href="{{block.settings.url}}">  {{block.settings.text}}</a></li>
        <li> <a href="{{block.settings.url}}">  {{block.settings.text}}</a></li>
    </div>
      
        
    {% endfor %}
</footer>
<style>
    .footer-main{
        background-color: {{section.settings.background-color}};
        color:{{section.settings.text-color}};
        display:flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .footer-main li{
        list-style-type: none;
    }
    .footer-main a{
        text-decoration: none;
      
        color:{{section.settings.text-color}}
    }
    
</style>

{% schema %}
{
    "name": "Footer",
    "settings": [
        {
            "type": "color",
            "id": "text-color",
            "label": "Text color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "background-color",
            "label": "Background color",
            "default": "#000"
        }
        
        ],
        "blocks": [
          {
            "name":"links",
            "type": "links",
            "limit": 8,
            "settings": [
                {
                    "type": "text",
                    "default": "text",
                   
                    "id": "text",
                    "label": "text"
                },{
                    "type": "url",
                   
                    "id": "url",
                    "label": "url"
                }
            ]
          }
        ],
        "presets": [
            {
                "name":"footer"
            }
        ]
}
{% endschema %}
